* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(20, 34, 49);
}

.center {
  margin: 0 auto; /* Центрирование содержимого */
  max-width: 1920px; /* Максимальная ширина 1366px */
  width: 100%; /* Чтобы контейнер занимал всю доступную ширину */
  padding: 0 40px; /* Добавление отступов для адаптации под меньшие экраны */
  box-sizing: border-box; /* Учитываем отступы в общую ширину */
  height: auto;
  display: flex;
  justify-content: center; /* Выравнивание содержимого по центру */
  align-items: center;
}
